[submodule "GraphRL/LLaMA-Factory"]
	path = GraphRL/LLaMA-Factory
	url = https://github.com/JamesKrW/LLaMA-Factory.git
	branch = graphrl
[submodule "GraphRL/VAGEN"]
	path = GraphRL/VAGEN
	url = https://github.com/JamesKrW/VAGEN.git
	branch = dev/viewagent
